<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport-fit" content="cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tracker App - Jason Polito</title>
    <meta name="description" content="Track your data points easily with Tracker App by Jason Polito.">

    <style>
        * {
            position: relative;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer src="./assets/js/ldbx.js"></script>
    <script defer src="./assets/js/tracker.js"></script>

</head>

<body class="bg-gray-950 text-white antialiased">
    <section class="py-16">
        <div class="container mx-auto max-w-2xl px-4 sm:px-6 lg:px-8">
            <div id="app">
                <h1 class="text-2xl">Tracker Test</h1>
                <div v-for="item in tracker.data" :key="item.id">
                    <div class="mb-4 flex items-center justify-between gap-4">
                        <input type="text" v-model="item.name" placeholder="Data Point Name">
                        <div class="w-full"></div>
                        <button @click="item.value++">{{ item . value }}</button>
                    </div>
                </div>
                <button @click="buildDataPoint()"
                    class="rounded bg-cyan-500 hover:bg-cyan-600 py-3 px-6 cursor-pointer inline-block">Add Data
                    Point</button>
            </div>
    </section>
</body>

</html>