<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport-fit" content="cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tracker App - Jason Polito</title>
    <meta name="description" content="Track your data points easily with Tracker App by Jason Polito.">

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer src="./assets/js/tracker.js"></script>
    <style type="text/tailwindcss">
        @layer base {
        * {
            position: relative;
            @apply leading-relaxed
        }
      }
    </style>
</head>

<body class="bg-slate-950 text-white antialiased font-mono">
    <section class="py-16" id="app">
        <div class="container mx-auto max-w-2xl px-4 sm:px-6 lg:px-8">
            <h1 class="text-2xl">Tracker Test</h1>
            <ul class="mb-8">
                <li v-for="item in tracker.data" :key="item.id"
                    class="border-1 border-transparent flex items-center justify-between gap-4 odd:bg-slate-900/25 hover:bg-slate-900/50 rounded group"
                    v-bind:class="{'bg-slate-900! rounded-b-none odd:bg-slate-900! hover:bg-slate-900! border-cyan-500! z-99': editing == item.id}"
                    data-tracker-item>
                    <div class="w-full">
                        <input type="text" class="py-4 px-4 w-full peer outline-none" @click="editing = item.id"
                            @focus="editing = item.id" v-model="item.name" placeholder="Data Point Name">
                    </div>
                    <div class="flex items-center right-[-2px]">
                        <button class="p-4 cursor-pointer text-slate-700 hover:text-cyan-200" @click="item.value--">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-4">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                            </svg>
                        </button>
                        <div>{{ item.value }}</div>
                        <button class="p-4 cursor-pointer text-slate-700 hover:text-cyan-200" @click="item.value++">
                            <svg xmlns="http://www.w3.org/2000/svg" class="size-4" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M12 4v16m8-8H4" />
                            </svg>
                        </button>
                    </div>

                    <div v-show="editing == item.id"
                        class="flex w-full -mx-px justify-between text-xs absolute top-full whitespace-nowrap uppercase ">
                        <div class="px-2 flex bg-slate-900 rounded-b border-b border-x border-cyan-500 shadow-xl">
                            <button @click="utils().duplicatePoint(item.id)"
                                class="text-slate-500 hover:text-cyan-200 cursor-pointer py-4 px-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                    class="size-3">
                                    <path
                                        d="M5.5 3.5A1.5 1.5 0 0 1 7 2h2.879a1.5 1.5 0 0 1 1.06.44l2.122 2.12a1.5 1.5 0 0 1 .439 1.061V9.5A1.5 1.5 0 0 1 12 11V8.621a3 3 0 0 0-.879-2.121L9 4.379A3 3 0 0 0 6.879 3.5H5.5Z" />
                                    <path
                                        d="M4 5a1.5 1.5 0 0 0-1.5 1.5v6A1.5 1.5 0 0 0 4 14h5a1.5 1.5 0 0 0 1.5-1.5V8.621a1.5 1.5 0 0 0-.44-1.06L7.94 5.439A1.5 1.5 0 0 0 6.878 5H4Z" />
                                </svg>
                            </button>
                            <button @click="editing = null"
                                class="text-slate-500 hover:text-lime-500 cursor-pointer py-4 px-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                    class="size-3">
                                    <path fill-rule="evenodd"
                                        d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z"
                                        clip-rule="evenodd" />
                                </svg>
                            </button>
                        </div>
                        <div
                            class="px-2 right-[-2px] flex bg-slate-900 rounded-b border-b border-x border-cyan-500 shadow-xl">
                            <button @click="utils().deletePoint(item.id)"
                                class="text-slate-500 hover:text-red-500 cursor-pointer py-4 px-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                    class="size-3">
                                    <path fill-rule="evenodd"
                                        d="M5 3.25V4H2.75a.75.75 0 0 0 0 1.5h.3l.815 8.15A1.5 1.5 0 0 0 5.357 15h5.285a1.5 1.5 0 0 0 1.493-1.35l.815-8.15h.3a.75.75 0 0 0 0-1.5H11v-.75A2.25 2.25 0 0 0 8.75 1h-1.5A2.25 2.25 0 0 0 5 3.25Zm2.25-.75a.75.75 0 0 0-.75.75V4h3v-.75a.75.75 0 0 0-.75-.75h-1.5ZM6.05 6a.75.75 0 0 1 .787.713l.275 5.5a.75.75 0 0 1-1.498.075l-.275-5.5A.75.75 0 0 1 6.05 6Zm3.9 0a.75.75 0 0 1 .712.787l-.275 5.5a.75.75 0 0 1-1.498-.075l.275-5.5a.75.75 0 0 1 .786-.711Z"
                                        clip-rule="evenodd" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- <button @click="createDataPoint()"
                class="rounded bg-cyan-500 hover:bg-cyan-600 py-3 px-6 cursor-pointer inline-block">Create</button> -->
            <button @click="openModal('create')"
                class="rounded bg-cyan-500 hover:bg-cyan-600 py-3 px-6 cursor-pointer inline-block">Create</button>
            <div class="fixed size-full inset-0 backdrop-blur-[2px] bg-slate-950/50" v-show="backdropBlur"
                @click="editing = null"></div>
            <!-- <div class="fixed pointer-events-none inset-0 z-50">
                <div v-show="modals.create.open"></div>
            </div> -->
    </section>
</body>

</html>